@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

$font-heading: 'Oswald', sans-serif;
$font-text: 'Open Sans', sans-serif;

$blue-color: #3d8ebd;
$grey-color: #fdfefe;
$yellow-color: #ffd878;
$black-color: #333333;
$white-color: #faf9f6;
