@import '../../scss/variables';
@import '../../scss/mixins';

#about {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .about-image-wrapper {
    @include fit-bg-image;
  }

  .about-content {
    padding: 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
