@import '../../scss/variables';
@import '../../scss/mixins';

#contact {
  @include fit-bg-image;

  .background-div {
    .contact-content {
      padding: 6rem 1rem;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      gap: 2rem;

      .contact-first-section {
        background-color: rgba($white-color, 0.5);
        border-radius: 15px;
        padding: 1rem;
        width: 50%;
        .contact-text {
          font-size: 1.2rem;
          margin-bottom: 20px;
        }

        .contact-info {
          font-size: 1rem;
          margin-bottom: 20px;

          p {
            margin: 5px 0;
          }
        }
      }

      .social-media {
        margin-top: 20px;
        width: 50%;

        a {
          margin-right: 1rem;
          text-decoration: none;
          font-size: 1.2rem;
          color: #000;

          &:hover {
            color: #555;
          }
        }
      }
    }
  }
}
