@import '../../scss/variables';
@import '../../scss/mixins';

.footer {
  background-color: #000;
  color: $grey-color;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .footer-links {
      margin: 10px 0;

      a {
        color: $blue-color;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }

    .footer-social {
      margin: 10px 0;

      a {
        font-size: 0.9rem;
        margin: 0 10px;
        color: $blue-color;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  p {
    margin: 10px 0;
  }
}
