@import '../../scss/variables';
@import '../../scss/mixins';

#hero {
  @include fit-bg-image;

  .hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .hero-content {
      margin: 4rem 1rem;

      h1 {
        font-size: 5rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
      }

      button {
        border: none;
        margin-top: 1.5rem;
        padding: 1rem;
        background: $blue-color;
        color: $white-color;
        font-weight: bold;
      }
    }
  }
}
