@import '../../scss/variables';
@import '../../scss/mixins';

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background: $grey-color;

  text-transform: uppercase;

  ul {
    display: flex;

    list-style: none;

    li {
      margin-left: 1.5rem;
    }
  }
}
